@font-face {
    src: url(CursedTimerUlil-Aznm.ttf);
    font-family: CursedTimerUlil-Aznm;
}


body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    padding-bottom: 40px;
    height: 100vh;
   
    
}

h3 {
    color: #EEEEEE;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;

}

p {
    font-family: CursedTimerUlil-Aznm;
    color: #F94F6D;
    background: #080001;
    width: 160px;
    height: 125px;
    font-size: 90px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    
    
    
}

button {
    background: none;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    width: 45px;
    height: 45px;
    font-family: CursedTimerUlil-Aznm;
    margin: 2px;
    
}